doctype html
html
	head
		title Crear categoria
	body
		form(action="/categories" method="POST")
			input(type="text" name="title" placeholder="Coloca la categoria")
			input(type="text" name="color" placeholder="Coloca el color")
			input(type="submit" value="Guardar")